@mixin Container($Padding: $SpacingMedium, $BorderRadius: $BorderRadiusLarge) {

    padding: $Padding;

    border-radius: $BorderRadius;

}

@mixin TransparentContainerMod($Padding: $SpacingMedium, $BorderRadius: $BorderRadiusLarge) {

    background-color: transparent;
    border: none;

}

@mixin FullWidthAndHeight() {

    width: 100%;
    height: 100%;

}

@mixin FlexHorizontal($Justify: center, $Align: center) {

    display: flex;
    flex-direction: row;

    justify-content: $Justify;
    align-items: $Align;

}

@mixin FlexVertical($Justify: center, $Align: center) {

    @include FlexHorizontal($Justify, $Align);

    flex-direction: column; // must go after FlexHorizontal
    
}

@mixin FlexCenter() {

    display: flex;
    justify-content: center;
    align-items: center;
    
}

@mixin GlassBackground($Color: $ElementColorMedium) {

    background-color: rgba($Color, 0.5);

    backdrop-filter: blur(6.5px);
    -webkit-backdrop-filter: blur(6.5px);

}

@mixin OverlayedBar() {

    position: fixed;
    left: 0; right: 0;
    
    margin: 0 auto;

    border-radius: 0;
    border: 0;

    padding: 0 $SpacingSmall;

    @include FlexHorizontal(space-between);

}

@mixin RespondTo($Breakpoint) {

    @if $Breakpoint == "Mobile" {

        @media (max-width: 650px) {
            @content;
        }

    } @else if $Breakpoint == "Tablet" {

        @media (max-width: 950px) {
            @content;
        }

    } @else if $Breakpoint == "Desktop" {

        @media (min-width: 951px) {
            @content;
        }

    }
    
}

// Other 

@mixin SectionTitle() {

    // this assumes the container is already flexed

    align-items: start;

    font-size: $FontSizeLarge * 1.25;
    font-weight: 700;

    gap: $SpacingSmall * 0.25;

    span.Subtitle {

        // for if a subtitle is within

        font-size: $FontSizeMedium * 0.90;
        font-weight: 400;

        color: $FontColorMuted;

    }

    @include RespondTo("Mobile") {

        align-items: center;
        text-align: center;

    }

}

@mixin SectionUnderlay() {

    position: absolute;
    
    // Right center of element
    
    right: 0;
    bottom: 0;
    top: 0;

    font-size: 50rem;
    color: $FontColorMuted;

    opacity: 0.0875;
    z-index: -1;

    @include RespondTo("Tablet") {

        display: none;

    }   

}