.Container.ResponseHighlightPopIn {

    width: 100%;
    font-size: $FontSizeMedium;

    text-align: center;

    gap: $SpacingLarge;

}

// Placeholder 

.Container.ResponseHighlightPlaceholder {

    gap: $SpacingSmall;

    font-size: $FontSizeSmall;
    text-align: left;

    opacity: 0.65;

}

.Container.ResponseHighlightPlaceholder ion-icon {

    font-size: $FontSizeMedium * 2;
    
}