// Container

.Container.ExperienceTimeline {

    position: relative;

    align-items: start;

    margin-bottom: $SpacingMedium; // TODO: Remove

    overflow: hidden; // needed for underlay

}

// Title Area

.Container.ExperienceTimelineTitle {

    @include SectionTitle();

    margin-bottom: $SpacingSmall;

} 

// Container for Nodes/Lines

.Container.ExperienceTimelineNodes {

    align-items: start;
    width: 100%;

    @include RespondTo("Mobile") {

        padding: $SpacingSmall;
        padding-right: 0;
        
    }

}

// Node 

.Container.ExperienceTimelineNode {

    gap: $SpacingMedium;
    
}

.Container.ExperienceTimelineNodeInfo {

    align-items: flex-start;

}

// Node Title/Subtitle/Whatever

.ExperienceTimelineNodeInfo.Title {

    font-size: $FontSizeLarge;
    font-weight: 700;

    margin-bottom: $SpacingSmall * 0.25;

}

.ExperienceTimelineNodeInfo.Time {

    font-size: $FontSizeSmall * 1.15;
    color: $FontColorMuted;

    margin-bottom: $SpacingSmall;

}

.ExperienceTimelineNodeInfo.Description {

    font-size: $FontSizeMedium;

}

// Node Icon/"Bubble" Area

.Container.ExperienceTimelineNodeBubble {
                        
    font-size: $FontSizeLarge * 1.75;
    margin-right: $SpacingMedium;

    opacity: 0.5;

}

// Line

.ExperienceTimelineLine {

    height: 75px;

    width: 2px;

    opacity: 0.5;

    background-color: $FontColorMuted;

    border-radius: $BorderRadiusSmall;

    margin-left: calc(($FontSizeLarge * 1.75 / 2) - 1px); // 1/2 of the width of the icon (font size) and -1px for 1/2 the width of the line
    
    @include RespondTo("Mobile") {

        margin-top: -50px;
        margin-bottom: -50px;

        height: 150px;

    }

}

// Top-Level Container Underlay 

.ExperienceTimelineDesktopUnderlay {

    position: absolute;
    
    // Right center of element
    
    right: 0;
    bottom: 0;
    top: 0;

    font-size: 50rem;
    color: $FontColorMuted;

    opacity: 0.0875;
    z-index: -1;

    @include RespondTo("Mobile") {

        display: none;

    }   

}